
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.experience-row {
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-left: 5px solid #012402;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.experience-row ul {
  list-style-type: none;
  padding-left: 0;
}

.experience-row ul li {
  margin-bottom: 15px;
  padding-left: 25px;
  position: relative;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.experience-row ul li::before {
  content: '\2022'; /* Unicode for a bullet point */
  color: #0b263d;
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
}

.experience-row ul li b {
  color: #012903;
  font-weight: 600;
}

.experience-row ul li:last-child {
  margin-bottom: 0;
}

.title-conpany{
  display: flex;
  align-items: flex-start;
}